
body  {
    background-color: #000000;
    position: relative;
}

#lg-on-head {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 7px solid  #f7f7f7;
    border-radius: 50px;
    background: linear-gradient( to right, green, blue, white, black);

}

#web-name {
    color: #f7f7f7;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Impact;
    position: absolute;
    font-size: 80px;
    top: 28px;
    margin: 0;
    left: 9rem;
}

#header-lab1 {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: #f7f7f7;
    position: absolute;
    top: 75px;
    right: 28rem;
}

#header-lab2 {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: #f7f7f7;
    position: absolute;
    top: 75px;
    right: 20rem;
}

#signupbtn1 {
    position: absolute;
    top: 60px;
    right: 12rem;
    width: 60px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #000000 ;
    font-size: 14px;
    font-family: Franklin Gothic Medium;
}

#signupbtn1:hover {
    border: 1px solid #faf8f8 ;
    background-color: #000000;
    color: #f7f7f7;
}

#loginbtn1 {
    position: absolute;
    top: 60px;
    right: 7rem;
    width: 63px;
    height: 38px;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #faf8f8 ;
    background-color: #000000;
    color: #f7f7f7;
    font-size: 15px;
    font-family: Franklin Gothic Medium;
}

#loginbtn1:hover {
    border: 1px solid #0000;
    background-color: #f7f7f7;
    color: #000000;
}

#header-line {
    margin-top: 1.5rem;
    opacity: 35%;    
    
    background: #6c63ff;;
    box-shadow: 0 5px 15px 1px  #f5f5f7;
}

.features-elements {
    position: absolute;
    top: 180px;
    width: 1230px;
    height: 300px;
    left: 10px;
    background-color: #f7f7f7;
    display: none;
}

#top-title-bg {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 200px;
    left: 460px;
    /* box-shadow: 10px 0 30px 20px #f7f7f7; */
}

#srt-heading {
    font-size: 20px;
    position: absolute;
    top: 540px;
    left: 460px;                           
    color: #f7f7f7;
    font-family: Bahnschrift;
    text-shadow: 0 0 60px rgba(255, 255, 255, 0.7);

}

#bigtitle {
    font-size: 60px;
    position: absolute;
    top: 570px;
    left: 435px;                           
    color: #f7f7f7;
    background: linear-gradient( to right, green, blue, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Bahnschrift;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

#guest-btn1 {
    position: absolute;
    top:710px;
    left:390px;
    padding: 15px;
    color: #f7f7f7;
    background-color: #000000;
    border: 1px solid #4b8126;
    border-radius: 10px;
    font-family: Rockwell;
    font-size: 20px;
}

#guest-btn1:hover {
    background-color: #4b8126;
    border: 1px solid #fbfbfb;
}

#login-btn2 {
    position: absolute;
    top:710px;
    left:600px;
    padding: 15px;
    /* width: 300px;
    height: 50px; */
    color: #f7f7f7;
    background: linear-gradient( to right, blue, black);
    border: 1px solid #4b8126;
    border-radius: 10px;
    font-family: Rockwell;
    font-size: 20px;
}

#login-btn2:hover {
    /* background: linear-gradient( to right, black, blue); */
    border: 1px solid #f7f7f7;
    opacity: 80%;
}

#video-box {
    position: absolute;
    top: 700px;
    margin: 50px;
    width: 1150px;
    height: 850px;
    left: 60px;
    border-radius: 20px;
}

